In [41]:
from pathlib import Path
from os import SEEK_CUR, SEEK_END
from datetime import datetime

def readlast(f):
    try:
        f.seek(-2, SEEK_END)     
        while f.read(1) != b"\n":
            f.seek(-2, SEEK_CUR)  
    except OSError:               
        f.seek(0)                  
    return f.read()     


def get_runtimes(path: Path) -> dict[int, dict[str, float]]:

    results = {}

    for sweep_folder in path.iterdir():
        if not sweep_folder.is_dir():
            # We are only interested in the folders, which represent openml datasets
            continue

        dataset_id = int(sweep_folder.name)

        run_times = []

        for run_folder in sweep_folder.iterdir():
            log_path = run_folder / 'log.log'

            with open(log_path, 'rb') as f:
                first = f.readline()
                last  = readlast(f)

            # Format is: 2024-03-26 21:00:42.190 | INFO   | etc....
            start_time_str = first.split(b' | ')[0].decode('utf-8')
            end_time_str = last.split(b' | ')[0].decode('utf-8')

            start_time = datetime.strptime(start_time_str, '%Y-%m-%d %H:%M:%S.%f')
            end_time = datetime.strptime(end_time_str, '%Y-%m-%d %H:%M:%S.%f')

            run_time = end_time - start_time
            run_time = run_time.total_seconds()
            run_times.append(run_time)

        results[dataset_id] = {
            'mean': sum(run_times) / len(run_times),
            'min': min(run_times),
            'max': max(run_times),
            'total': sum(run_times)
        }

    return results

In [42]:
benchmark_sweep_path = Path('outputs_done/foundation_mix_600k_finetune/test_categorical_classification')
whytrees_cat = get_runtimes(benchmark_sweep_path)
whytrees_cat

{44159: {'mean': 526.1546999999999,
  'min': 398.27,
  'max': 611.301,
  'total': 5261.547},
 45036: {'mean': 414.68320000000006,
  'min': 292.876,
  'max': 640.828,
  'total': 4146.832},
 45035: {'mean': 139.1746, 'min': 90.147, 'max': 215.634, 'total': 1391.746},
 45038: {'mean': 371.35970000000003,
  'min': 276.996,
  'max': 464.653,
  'total': 3713.597},
 45039: {'mean': 211.12329999999997,
  'min': 139.973,
  'max': 309.448,
  'total': 2111.2329999999997},
 44156: {'mean': 375.22630000000004,
  'min': 292.177,
  'max': 462.344,
  'total': 3752.2630000000004},
 44157: {'mean': 906.1018, 'min': 489.352, 'max': 1094.059, 'total': 9061.018}}

In [43]:
benchmark_sweep_path = Path('outputs_done/foundation_mix_600k_finetune/test_numerical_classification')
whytrees_num = get_runtimes(benchmark_sweep_path)
whytrees_num

{44130: {'mean': 770.7071, 'min': 520.841, 'max': 961.256, 'total': 7707.071},
 44128: {'mean': 192.35139999999998,
  'min': 126.634,
  'max': 258.731,
  'total': 1923.514},
 45021: {'mean': 214.88209999999998,
  'min': 169.311,
  'max': 301.676,
  'total': 2148.821},
 44089: {'mean': 291.7275, 'min': 190.771, 'max': 366.218, 'total': 2917.275},
 44125: {'mean': 737.7062, 'min': 624.381, 'max': 876.276, 'total': 7377.062},
 44121: {'mean': 402.4937, 'min': 342.648, 'max': 463.837, 'total': 4024.937},
 45020: {'mean': 382.9895, 'min': 281.837, 'max': 524.163, 'total': 3829.895},
 44122: {'mean': 588.3584, 'min': 333.218, 'max': 874.349, 'total': 5883.584},
 44120: {'mean': 324.60529999999994,
  'min': 246.015,
  'max': 467.284,
  'total': 3246.0529999999994},
 44123: {'mean': 464.7566, 'min': 298.085, 'max': 580.832, 'total': 4647.566},
 45022: {'mean': 134.0908, 'min': 91.444, 'max': 195.926, 'total': 1340.908},
 44126: {'mean': 475.5148000000001,
  'min': 324.611,
  'max': 555.224,
  'total': 4755.148000000001},
 45026: {'mean': 428.57849999999996,
  'min': 319.397,
  'max': 611.184,
  'total': 4285.785},
 45019: {'mean': 349.23979999999995,
  'min': 259.31,
  'max': 433.823,
  'total': 3492.3979999999997},
 44129: {'mean': 208.1456, 'min': 130.239, 'max': 312.296, 'total': 2081.456},
 45028: {'mean': 288.1241, 'min': 198.26, 'max': 496.541, 'total': 2881.241}}

In [44]:
benchmark_sweep_path = Path('outputs_done/foundation_mix_600k_finetune/test_tabzilla_has_completed_runs')
tabzilla = get_runtimes(benchmark_sweep_path)
tabzilla

{11: {'mean': 1823.794, 'min': 1823.794, 'max': 1823.794, 'total': 1823.794},
 168911: {'mean': 513.812, 'min': 513.812, 'max': 513.812, 'total': 513.812},
 125920: {'mean': 668.486, 'min': 668.486, 'max': 668.486, 'total': 668.486},
 40: {'mean': 481.437, 'min': 481.437, 'max': 481.437, 'total': 481.437},
 39: {'mean': 946.295, 'min': 946.295, 'max': 946.295, 'total': 946.295},
 9957: {'mean': 516.386, 'min': 516.386, 'max': 516.386, 'total': 516.386},
 146024: {'mean': 602.063, 'min': 602.063, 'max': 602.063, 'total': 602.063},
 9946: {'mean': 440.163, 'min': 440.163, 'max': 440.163, 'total': 440.163},
 3902: {'mean': 425.059, 'min': 425.059, 'max': 425.059, 'total': 425.059},
 45: {'mean': 1121.869, 'min': 1121.869, 'max': 1121.869, 'total': 1121.869},
 146607: {'mean': 965.821, 'min': 965.821, 'max': 965.821, 'total': 965.821},
 3549: {'mean': 2219.822, 'min': 2219.822, 'max': 2219.822, 'total': 2219.822},
 360948: {'mean': 501.722, 'min': 501.722, 'max': 501.722, 'total': 501.722},
 9971: {'mean': 429.345, 'min': 429.345, 'max': 429.345, 'total': 429.345},
 3779: {'mean': 962.713, 'min': 962.713, 'max': 962.713, 'total': 962.713},
 3904: {'mean': 1824.417, 'min': 1824.417, 'max': 1824.417, 'total': 1824.417},
 3903: {'mean': 466.559, 'min': 466.559, 'max': 466.559, 'total': 466.559},
 2074: {'mean': 1719.959, 'min': 1719.959, 'max': 1719.959, 'total': 1719.959},
 145977: {'mean': 881.908, 'min': 881.908, 'max': 881.908, 'total': 881.908},
 3: {'mean': 1225.635, 'min': 1225.635, 'max': 1225.635, 'total': 1225.635},
 3797: {'mean': 856.159, 'min': 856.159, 'max': 856.159, 'total': 856.159},
 167141: {'mean': 1905.953,
  'min': 1905.953,
  'max': 1905.953,
  'total': 1905.953},
 3748: {'mean': 1562.883, 'min': 1562.883, 'max': 1562.883, 'total': 1562.883},
 9952: {'mean': 1291.508, 'min': 1291.508, 'max': 1291.508, 'total': 1291.508},
 2079: {'mean': 593.316, 'min': 593.316, 'max': 593.316, 'total': 593.316},
 3512: {'mean': 2885.297, 'min': 2885.297, 'max': 2885.297, 'total': 2885.297},
 3543: {'mean': 2692.063, 'min': 2692.063, 'max': 2692.063, 'total': 2692.063},
 145836: {'mean': 612.068, 'min': 612.068, 'max': 612.068, 'total': 612.068},
 3602: {'mean': 832.107, 'min': 832.107, 'max': 832.107, 'total': 832.107},
 9: {'mean': 739.76, 'min': 739.76, 'max': 739.76, 'total': 739.76},
 9978: {'mean': 683.354, 'min': 683.354, 'max': 683.354, 'total': 683.354},
 167211: {'mean': 695.698, 'min': 695.698, 'max': 695.698, 'total': 695.698},
 9964: {'mean': 873.501, 'min': 873.501, 'max': 873.501, 'total': 873.501},
 146063: {'mean': 1111.612,
  'min': 1111.612,
  'max': 1111.612,
  'total': 1111.612},
 146818: {'mean': 628.488, 'min': 628.488, 'max': 628.488, 'total': 628.488},
 37: {'mean': 565.516, 'min': 565.516, 'max': 565.516, 'total': 565.516},
 146800: {'mean': 1837.47, 'min': 1837.47, 'max': 1837.47, 'total': 1837.47},
 59: {'mean': 1399.509, 'min': 1399.509, 'max': 1399.509, 'total': 1399.509},
 190408: {'mean': 2598.42, 'min': 2598.42, 'max': 2598.42, 'total': 2598.42},
 145799: {'mean': 500.55, 'min': 500.55, 'max': 500.55, 'total': 500.55},
 146210: {'mean': 1008.18, 'min': 1008.18, 'max': 1008.18, 'total': 1008.18},
 146817: {'mean': 1490.541,
  'min': 1490.541,
  'max': 1490.541,
  'total': 1490.541},
 10: {'mean': 542.743, 'min': 542.743, 'max': 542.743, 'total': 542.743},
 27: {'mean': 380.952, 'min': 380.952, 'max': 380.952, 'total': 380.952},
 3918: {'mean': 712.55, 'min': 712.55, 'max': 712.55, 'total': 712.55},
 3896: {'mean': 974.849, 'min': 974.849, 'max': 974.849, 'total': 974.849},
 2867: {'mean': 1795.97, 'min': 1795.97, 'max': 1795.97, 'total': 1795.97},
 29: {'mean': 491.999, 'min': 491.999, 'max': 491.999, 'total': 491.999},
 48: {'mean': 464.185, 'min': 464.185, 'max': 464.185, 'total': 464.185},
 125921: {'mean': 1027.196,
  'min': 1027.196,
  'max': 1027.196,
  'total': 1027.196},
 47: {'mean': 615.943, 'min': 615.943, 'max': 615.943, 'total': 615.943},
 3561: {'mean': 676.564, 'min': 676.564, 'max': 676.564, 'total': 676.564},
 3540: {'mean': 1568.787, 'min': 1568.787, 'max': 1568.787, 'total': 1568.787},
 43: {'mean': 907.146, 'min': 907.146, 'max': 907.146, 'total': 907.146},
 3560: {'mean': 684.708, 'min': 684.708, 'max': 684.708, 'total': 684.708},
 16: {'mean': 1224.377, 'min': 1224.377, 'max': 1224.377, 'total': 1224.377},
 167140: {'mean': 867.752, 'min': 867.752, 'max': 867.752, 'total': 867.752},
 3485: {'mean': 874.321, 'min': 874.321, 'max': 874.321, 'total': 874.321},
 146192: {'mean': 2221.251,
  'min': 2221.251,
  'max': 2221.251,
  'total': 2221.251},
 145793: {'mean': 872.916, 'min': 872.916, 'max': 872.916, 'total': 872.916},
 10101: {'mean': 585.054, 'min': 585.054, 'max': 585.054, 'total': 585.054},
 53: {'mean': 902.25, 'min': 902.25, 'max': 902.25, 'total': 902.25},
 9960: {'mean': 1218.161, 'min': 1218.161, 'max': 1218.161, 'total': 1218.161},
 25: {'mean': 338.93, 'min': 338.93, 'max': 338.93, 'total': 338.93},
 12: {'mean': 1140.765, 'min': 1140.765, 'max': 1140.765, 'total': 1140.765},
 3953: {'mean': 4082.206, 'min': 4082.206, 'max': 4082.206, 'total': 4082.206},
 14: {'mean': 919.768, 'min': 919.768, 'max': 919.768, 'total': 919.768},
 145984: {'mean': 839.953, 'min': 839.953, 'max': 839.953, 'total': 839.953},
 18: {'mean': 1014.099, 'min': 1014.099, 'max': 1014.099, 'total': 1014.099},
 14965: {'mean': 5992.826,
  'min': 5992.826,
  'max': 5992.826,
  'total': 5992.826},
 30: {'mean': 832.542, 'min': 832.542, 'max': 832.542, 'total': 832.542},
 35: {'mean': 587.844, 'min': 587.844, 'max': 587.844, 'total': 587.844},
 3739: {'mean': 1413.308, 'min': 1413.308, 'max': 1413.308, 'total': 1413.308},
 14967: {'mean': 4064.082,
  'min': 4064.082,
  'max': 4064.082,
  'total': 4064.082},
 3647: {'mean': 749.658, 'min': 749.658, 'max': 749.658, 'total': 749.658},
 3711: {'mean': 2986.961, 'min': 2986.961, 'max': 2986.961, 'total': 2986.961},
 9984: {'mean': 580.876, 'min': 580.876, 'max': 580.876, 'total': 580.876},
 4: {'mean': 1926.407, 'min': 1926.407, 'max': 1926.407, 'total': 1926.407},
 3913: {'mean': 639.732, 'min': 639.732, 'max': 639.732, 'total': 639.732},
 23: {'mean': 588.994, 'min': 588.994, 'max': 588.994, 'total': 588.994},
 146820: {'mean': 659.099, 'min': 659.099, 'max': 659.099, 'total': 659.099},
 146821: {'mean': 2709.695,
  'min': 2709.695,
  'max': 2709.695,
  'total': 2709.695},
 145847: {'mean': 1972.375,
  'min': 1972.375,
  'max': 1972.375,
  'total': 1972.375},
 15: {'mean': 602.074, 'min': 602.074, 'max': 602.074, 'total': 602.074},
 3620: {'mean': 1703.202, 'min': 1703.202, 'max': 1703.202, 'total': 1703.202},
 14952: {'mean': 2747.721,
  'min': 2747.721,
  'max': 2747.721,
  'total': 2747.721},
 3731: {'mean': 852.197, 'min': 852.197, 'max': 852.197, 'total': 852.197},
 10093: {'mean': 2812.951,
  'min': 2812.951,
  'max': 2812.951,
  'total': 2812.951},
 14954: {'mean': 664.1, 'min': 664.1, 'max': 664.1, 'total': 664.1},
 146065: {'mean': 1094.708,
  'min': 1094.708,
  'max': 1094.708,
  'total': 1094.708},
 50: {'mean': 494.587, 'min': 494.587, 'max': 494.587, 'total': 494.587},
 10089: {'mean': 3070.15, 'min': 3070.15, 'max': 3070.15, 'total': 3070.15},
 49: {'mean': 2312.128, 'min': 2312.128, 'max': 2312.128, 'total': 2312.128},
 3917: {'mean': 1054.864, 'min': 1054.864, 'max': 1054.864, 'total': 1054.864}}

In [45]:
results = {**whytrees_cat, **whytrees_num, **tabzilla}

whytrees_cat_total = sum([v['total'] for v in whytrees_cat.values()])
whytrees_num_total = sum([v['total'] for v in whytrees_num.values()])
tabzilla_total = sum([v['total'] for v in tabzilla.values()])
all_total = whytrees_cat_total + whytrees_num_total + tabzilla_total

whytrees_cat_total / 3600, whytrees_num_total / 3600, tabzilla_total / 3600, all_total / 3600

(8.177287777777776, 17.372976111111115, 32.544359444444446, 58.09462333333334)

In [46]:
from tabularbench.core.enums import BenchmarkOrigin
from tabularbench.data.metadata import create_metadata
from tabularbench.data.benchmarks import BENCHMARKS, BenchmarkName

metadata_whytrees = create_metadata(benchmark_origin=BenchmarkOrigin.WHYTREES)

ids_used_in_paper_numerical = BENCHMARKS[BenchmarkName.NUMERICAL_CLASSIFICATION].openml_dataset_ids
ids_used_in_paper_categorical = BENCHMARKS[BenchmarkName.CATEGORICAL_CLASSIFICATION].openml_dataset_ids

ids_used_in_paper = ids_used_in_paper_numerical + ids_used_in_paper_categorical
ids_used_in_paper.sort()

metadata_whytrees = metadata_whytrees.loc[ids_used_in_paper]

metadata_whytrees['runtime'] = [results[dataset_id]['mean'] for dataset_id in metadata_whytrees.index]
metadata_whytrees['runtime_per_cv'] = metadata_whytrees['runtime'] / metadata_whytrees['n_splits']

metadata_whytrees['runtime'] = metadata_whytrees['runtime'].round(decimals=1)
metadata_whytrees['runtime_per_cv'] = metadata_whytrees['runtime_per_cv'].round(decimals=1)

metadata_whytrees

,openml_dataset_name,n_observations,n_train,n_val,n_test,n_features,n_splits,n_classes,runtime,runtime_per_cv
openml_dataset_id,,,,,,,,,,
44089,credit,16714,10000,2014,4700,10,2,2,291.7,145.9
44120,electricity,38474,10000,8542,19932,7,1,2,324.6,324.6
44121,covertype,566602,10000,50000,50000,10,1,2,402.5,402.5
44122,pol,10082,7057,907,2118,26,3,2,588.4,196.1
44123,house_16H,13488,9441,1214,2833,16,3,2,464.8,154.9
44125,MagicTelescope,13376,9363,1203,2810,10,3,2,737.7,245.9
44126,bank-marketing,10578,7404,952,2222,7,3,2,475.5,158.5
44128,MiniBooNE,72998,10000,18899,44099,50,1,2,192.4,192.4
44129,Higgs,940160,10000,50000,50000,24,1,2,208.1,208.1
44130,eye_movements,7608,5325,684,1599,20,3,2,770.7,256.9
44156,electricity,38474,10000,8542,19932,8,1,2,375.2,375.2
44157,eye_movements,7608,5325,684,1599,23,3,2,906.1,302.0
44159,covertype,423680,10000,50000,50000,54,1,2,526.2,526.2
45019,Bioresponse,3434,2403,309,722,419,5,2,349.2,69.8
45020,default-of-credit-card-clients,13272,9290,1194,2788,20,3,2,383.0,127.7
45021,jannis,57580,10000,14274,33306,54,1,2,214.9,214.9
45022,Diabetes130US,71090,10000,18327,42763,7,1,2,134.1,134.1
45026,heloc,10000,7000,900,2100,22,3,2,428.6,142.9
45028,california,20634,10000,3190,7444,8,1,2,288.1,288.1
45035,albert,58252,10000,14475,33777,31,1,2,139.2,139.2
45036,default-of-credit-card-clients,13272,9290,1194,2788,21,3,2,414.7,138.2
45038,road-safety,111762,10000,30528,50000,32,1,2,371.4,371.4
45039,compas-two-years,4966,3476,447,1043,11,3,2,211.1,70.4

In [47]:
ids_used_in_paper = BENCHMARKS[BenchmarkName.TABZILLA_HAS_COMPLETED_RUNS].openml_dataset_ids

metadata_tabzilla = create_metadata(BenchmarkOrigin.TABZILLA)
metadata_tabzilla = metadata_tabzilla.loc[ids_used_in_paper]

metadata_tabzilla['runtime'] = [results[dataset_id]['mean'] for dataset_id in metadata_tabzilla.index]
metadata_tabzilla['runtime_per_cv'] = metadata_tabzilla['runtime'] / metadata_tabzilla['n_splits']

metadata_tabzilla['runtime'] = metadata_tabzilla['runtime'].round(decimals=1)
metadata_tabzilla['runtime_per_cv'] = metadata_tabzilla['runtime_per_cv'].round(decimals=1)

metadata_tabzilla

,openml_dataset_name,n_observations,n_train,n_val,n_test,n_features,n_splits,n_classes,runtime,runtime_per_cv
openml_dataset_id,,,,,,,,,,
3,kr-vs-kp,3196,2556,320,320,36,10,2,1225.6,122.6
4,labor,57,45,6,6,16,10,2,1926.4,192.6
9,autos,205,163,21,21,25,10,6,739.8,74.0
10,lymph,148,118,15,15,18,10,4,542.7,54.3
11,balance-scale,625,499,63,63,4,10,3,1823.8,182.4
...,...,...,...,...,...,...,...,...,...,...
167141,churn,5000,4000,500,500,20,10,2,1906.0,190.6
167211,Satellite,5100,4080,510,510,36,10,2,695.7,69.6
168911,jasmine,2984,2386,299,299,144,10,2,513.8,51.4
190408,Click_prediction_small,39948,31958,3995,3995,11,10,2,2598.4,259.8
360948,libras,360,288,36,36,104,10,10,501.7,50.2

In [48]:
import pandas as pd

metadata_total = pd.concat([metadata_whytrees, metadata_tabzilla])

max_runtime = metadata_total['runtime'].max()
max_runtime_per_cv = metadata_total['runtime_per_cv'].max()

max_runtime, max_runtime_per_cv

(5992.8, 599.3)

In [50]:
total_number_of_cv_splits = metadata_total['n_splits'].sum()

total_number_of_cv_splits, all_total / total_number_of_cv_splits

NameError: name 'all_total' is not defined